<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Scanner</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <style>
    body {
      padding: 20px;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1 class="mt-5">Chào mừng đến web check lỗ hổng bảo mật web</h1>
    <p class="lead">Nhập link web vào đây để scan: </p>
    <form action="/scan" method="get" class="mb-3">
      <div class="input-group">
        <input type="text" name="url" class="form-control" placeholder="Enter URL" required>
        <div class="input-group-append">
          <button type="submit" class="btn btn-primary">Scan</button>
        </div>
      </div>
    </form>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
